.not-found-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.not-found-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.not-found-text2 {
  color: #E31B6D;
  font-size: 252px;
  margin-top: 0px;
  font-weight: 900;
  margin-bottom: 0px;
}

.not-found-container3 {
  width: 421px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.not-found-text3 {
  text-align: center;
  font-weight: 400;
}

h3 {
  color: #666;
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  color: #444;
  font-size: 18px;
  max-width: 600px;
  margin-top: 20px;
}

/* Make it responsive */
@media (max-width: 767px) {
  .not-found-text2 {
    font-size: 180px;
  }

  .not-found-container3 {
    width: 90%;
  }

  h3 {
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
  }
}