.landing-page-container1 { 
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.landing-page-landing-page {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.landing-page-background {
  top: 0px;
  left: -156px;
  width: 1821px;
  height: 1024px;
  position: absolute;
}
 
.landing-page-co-curr-logo {
  top: 425px;
  left: 411px;
  width: 617px;
  height: 111px;
  position: absolute;
}
 
.landing-page-text1 {
  top: 540px;
  left: 438px;
  color: rgba(0, 0, 0, 1);
  width: 612px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Forum;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-text2 {
  text-decoration: UNDERLINE;
}
 
.landing-page-text3 {
  text-decoration: NONE;
}
 
.landing-page-text4 {
  text-decoration: UNDERLINE;
}
 
.landing-page-button1 {
  gap: 10px;
  top: 622px;
  left: 720px;
  width: 244px;
  height: 70px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.landing-page-text6 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Hanken Grotesk;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-button2 {
  gap: 10px;
  top: 622px;
  left: 720px;
  width: 244px;
  height: 70px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.landing-page-text7 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Hanken Grotesk;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-button3 {
  gap: 10px;
  top: 622px;
  left: 455px;
  width: 244px;
  height: 70px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.landing-page-text8 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Hanken Grotesk;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.landing-page-link {
  display: contents;
}
 
.landing-page-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.landing-page-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.landing-page-text9 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
